@charset "UTF-8";
/* CSS Document */
/* BASIC DESIGN */

*{
    margin:0;
    padding:0;
    border:0;
    text-decoration:0;
    font-family: 'Brandon_regular';
    font-weight: normal;
    font-style: normal;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal !important;
}

html{
    height:100%;
}

body{
    background-color: #F3F3F3;
    font-family: 'Brandon_regular';
    font-weight: normal;
    font-style: normal;
    line-height: 170%;
    font-size: 15px; 
    height:100%;
}	
h4{
    font-size: 15px;
    font-family: 'Brandon_medium';
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 0px;
	color: #7dcde5;
    background-color: transparent;
	width: 370px;
	margin: 0 auto;
	margin-bottom: 10px;
}

.wrapper{
    width: 1920px;
    background-color: white;
    position:  relative;
    margin: auto;
    height:auto !important; /* real browsers */
    height:100%; /* IE6: treaded as min-height*/
    min-height:100%;
}
.main{
    background-color: transparent;
    width: 1881px;
    margin: 15px 20px;
    padding: 15px 20px;
    line-height: 170%;
    color: #000;
    font-family: 'Brandon_regular';
    font-weight: normal;
    font-style: normal;
    min-height: 650px;
}
/* -- INDEX PAGE  -- */
#speakingbubble{
	 font-family: 'Brandon_medium';
	 color: #26b8d1;
	 font-size: 15px;
	 width: 173px;
	 background-color: transparent;
	 text-align: center;
	 position: absolute;
	 margin-left: 1022px;
	 margin-top: 84px;
	}
#loginbox{
	 font-family: 'Brandon_regular';
	 color: #26b8d1;
	 font-size: 20px;
	 width: 337px;
         height:260px;
	 background-color: #FFCC00;
	 text-align: center;
	 position: absolute;
	 margin-left: 791px;
	 margin-top: 368px;
         border:6px solid white;
         border-radius: 36px;
	}
.loginbox_content{
	 font-family: 'Brandon_regular';
	 color: #FFFF;
	 font-size: 15px;
	 width: 304px;
         height:200px;
	 text-align: center;
	 position: absolute;
	 margin-left:12px;
	 margin-top: 25px;;
	}

#header1_2{
    height: 669px;
    background-image: url('../images/hero_and_logo/header_bg.svg'), url('../images/hero_and_logo/yellow_bg.svg');
    background-size: contain;
     background-repeat: no-repeat ;
}

/* ----USER MODAL BOX -- */
.modal h3{
    border :none;
    font-family: 'Brandon_Medium';
    font-size: 15px;
    border-bottom: 1px solid #26b8d1;
    padding-bottom: 7px;
    text-transform: uppercase;
    background-color: transparent;	
    outline:0;
    color: #26b8d1;
    margin-top: 21px;
    margin-left:14px;
}
.modal .modal_text{
    padding: 16px 15px;
    font-size: 15px;
    font-family: 'Brandon_regular';
}
.modal button{
    text-align: center;
    width:441px;
    height:55px;
    font-size: 15px;
    color:#FFF;
    background-color:#26b8d1; 
}
/* ----LOGIN MODAL BOX -- */
#close_loginmodal{
    background-color: transparent;
    text-align: right;
  margin-left: 95%;
    padding-right:12px;
   cursor: pointer;
}
#forgot_pass_modal .modal-dialog, #add_institution_modal .modal-dialog , #user_reg_msg .modal-dialog  ,#lan_select_modal .modal-dialog{
    width:442px;
    height:283px;
    margin-top:172px;
    border-radius: 0px;
}
#forgot_modal_content{
    padding:20px;
    text-align: center;
    padding-bottom: 20px;
    width:574px;
    margin-left:-73px;
}
.modal-content{
    border-radius:0px;
}
#forgot_modal_content p{
     font-family: 'Brandon_regular';
    font-size:15px;
    padding-top:4px ;
  }  
    .fehlerlogin{
	font-family: 'Brandon_medium';
	text-align: center;
	margin-bottom: 11px;
        padding: 10px;
        font-size: 22px;
        color:#26b8d1;
        display:none;   

}
/* -- Style LOGO  -- */
.logo{
    width: 280px;
    height: 50px;
    background-color: #fff;
    float:left;
    margin-left: 40px;
    padding-top:20px;
}
.logo_small{

    height: 43px;
    width:253px;
    background-image: url('../images/hero_and_logo/logo_small.svg');
    background-size: contain;
     background-repeat: no-repeat;
     margin-left: 15px;
     margin-top:17px;

}
#subtitle{
    width: 500px;
    background-color: #fff;
    font-family: 'Brandon_regular';
    float: right;
    text-align: right;
    line-height: 150%;
    font-size: 20px;
    margin-right: 38px;
    color: #56c3e4;
    margin-top: 46px;
}		
.homeactive{
    background-image: url("../images/icons/navigation_left/dashboard-1.svg"); 
    height:18.9px;
    width:18.9px;
}
/* -- Style Navigation Hidden NAVIGATION  -- */
.upper_navigation{
    width: 1920px;
    background-color: #fff;
    height: 45px;
    padding: 22px 40px 22px 27px;
}
.naviabstand1{margin-left: 20px;margin-right: 20px;}	


.mar img{
    margin-right: 7px;
}
.hidden_navigation{
    width: 1920px;
    height: 43px;
    background-color: #E9E9E9;
    text-align: center;
    display: table;
    margin: 0 auto;
}
.hidden_navigation li{
    display:inline-block;
    margin-left: 18px;
    margin-top: 10px;
    
}
.hidden_navigation ul{
    display:none;
}
.upper_navigation ul li a, .hidden_navigation ul li a{
    text-decoration: initial;
    background-repeat: no-repeat;
}
.hidden_navigation ul li a{
    font-size: 15px;
}
.hidden_navigation ul li a:hover{
    color:#79C9E0;
}
.hidden_navigation ul.overview li{
    background-color: transparent;
/*    padding: 0px 10px 0px 10px;
	margin: 0 auto;
    margin-top: 9px;*/
    margin-left: auto;

}	
/* ---NAVBAR ITEMS STYLES----*/
.active_violet span{
    color: #26b8d1;
}	
/* ---VALIDATION STYLES----*/
/*  #user_contact_person2-error {
        margin-left: 175px;
  }*/
#user_telephone-error {
	  margin-left: 105px;
}
/*--menu----*/
.menu{
    line-height: 23px;
    float: left;
    margin-right: 0px;
    margin-top: 2px;
    color: #898989;
    background-position: center left;
    background-repeat: no-repeat;
/*    margin-left: 10px;*/
}

/* -- Style Navigation Top LEFT -- */

.upper-left-list{
    float: left;
    margin: 0;
    padding: 0;
    width: 1080px;
    background-color: white;
}	

.upper-left-list li{
    text-align: center;
    float: left;
    list-style-type: none;
    font-family: 'Brandon_regular';
    font-size: 15px;
    text-transform: uppercase;
    background-color: #fff;
    padding: 5px 0px;
    line-height: 29px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 2px;
}

.active-list{
    cursor:pointer;
}

.upper-left-list li:last-child{
    border-right: 0;
    border-left: 0;
}

.upper-left-list img{
    padding-right: 8px;
}

.upper-left-list a{
    text-decoration: none;
    color: #000;
}			

.upper-left-list a span{
    margin-left: 20px;
}
/* -- Style Navigation Top RIGHT -- */

.upper-right-list{
    width: 413px;
    height: 25px;
    background-color: #fff;
    float: right;
    padding-left: 23px;
    padding-top: 5px;
}

.upper-right-list li{
    text-decoration: none;
    list-style-type: none;
    float: left;
    font-family: 'Brandon_regular';
    font-size: 15px;
}

.upper-right-list a{
    text-decoration: none;
    color: #000;
}

/*-- BREADCRUMB --*/	
	
.breadcrumb{
	font-family: 'Brandon_regular';
	margin-bottom: 20px;
	color: #707070;
	font-size: 15px;
	}
	
.breadcrumb a{
	font-family: 'Brandon_regular';
	color: #707070;
	}
/*    FOOTER STYLE*/
footer{
    width: 1920px;
    height: 60px;
    font-family: 'Brandon_regular';
    background-color: white;
    border-top: 1px solid #000000;
    padding-top: 17px;
    clear: both;  
    margin:auto;
}			
.footer_left{
    background-color: transparent;
    width: 400px;
    float: left;
    margin-left: 40px;
    font-family: 'Brandon_regular';
    font-size: 12px;
    padding-top:0px;
}

.footer_right{
    background-color: transparent;
    width: 648px;
    float: left;
    text-align: right;
    margin-left:467px;
    margin-top: 0px;
    font-family: 'Brandon_regular';
    font-size: 12px;
}	

.footer_social{
	background-color: transparent;
	width: 136px;
	float: right;
	padding-top: 0px;
        margin-right: 40px;
	
}
.infoarea{
    background-color: transparent;
    height: 223px;
    font-family: 'Brandon_regular';
    background-color: white;
    border-top: 1px solid #000000;
    font-size: 11px;
    padding-left: 30px;
    padding-top: 10px;
    clear: both;
}
.footerarea{
    width: 375px;
    height:130px;
    background: transparent;
    float: right;
    text-align: left;
    margin-top: 32px;
    margin-bottom: 29px;
    margin-right: 38px;
    font-size: 14px;
}
span.subtitlefooterarea{
	color: #000000;
	font-family: 'Brandon_medium';
	
}
.footer_links{
	margin-top: 10px;
}

/* -- HEADERS --*/
h1{
    font-family: 'Brandon_regular';
    font-size: 15px;
    border-bottom: 1px solid #79C9E0;
    padding-bottom: 7px;
    text-transform: uppercase;
    background-color: transparent;	
    background-position: right top;
    background-repeat: no-repeat;
    color: #79C9E0;
}

	
/*-- DROPDOWNS--*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 139px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 13px;
    z-index: 1;
     text-align: left;
}
.dropdown:hover .dropdown-content {
    display: block;
}


.cursor_p{
    cursor:pointer;
}
/*-- COLUMN LAYOUT STYLES--*/

.column3{
    background-color: #fff;
    width: 373px;
    text-align: justify;
    font-family: 'Brandon_regular';
    color: black;
    line-height: 170%;
    float: right;
}	

.column4{
    background-color: transparent;
    text-align: left;
    font-family: 'Brandon_regular';
    color: black;
    line-height: 170%;
    font-size: 15px;
}

.column5{
    background-color: transparent;
    width: 80%;
    text-align: justify;
    font-family: 'Brandon_regular';
    color: black;
    line-height: 170%;
    font-size: 15px;
    margin-bottom: 22px;
    margin-top: 15px;   
}


/* --- TEXT NAVIGATION CHANGES ---*/


.bold{ font-family: 'Brandon_medium';
    font-weight: bold;
}

/* -- ACCORDION EFFECT --*/	

#accordion{
    background-color: transparent;
    padding:0;
    margin:0;
}

#accordion h3{
    border :none;
    font-family: 'Brandon_regular';
    font-size: 15px;
    border-bottom: 1px solid #000000;
    padding-bottom: 7px;
    text-transform: uppercase;
    background-color: transparent;	
    background-image: url("../images/icons/accodian_minus.svg");
    background-size:20px;
    background-position: right center;
    background-repeat: no-repeat;
    outline:0;
    color: #000000;
    margin-top: 20px;
}

#accordion h3.ui-accordion-header-collapsed {
    background-image: url("../images/icons/accodian_plus.svg");
    background-size: 20px;
    font-family: 'Brandon_regular';
}


.margin_7{
    margin: 7px 0px;
}	
.margin_14{
    margin: 14px 0px;
}	
.margin_20{
    margin-top:20px;
}	
.accordionabstand{
    margin-top: 20px;
    margin-bottom: 20px;
}	
.padding_120_top{
    padding-top:120px !important;
}
/*-- COLORPICKER--*/
.input-group-addon i{
    height:93px !important;
    width:92px !important;
    
}
.input-group-addon{
    width:85px !important ;
}
.input-group #color{
   color:#C7C7C7;
}
.colorpicker_field{
    margin: 15px 0px;
    height:32px;
    width:92px;
}
/*-- PROGRESS Bars--*/	
.progress{
    height: 11px ;
    margin-bottom:-8px ;
    border-radius: 0px;
}
.progress-bar{
    background-color: #56c3e4;
}
.analyse_progress{
     height: 6px !important;
     background-color: #8E8E93;
      margin-top:9px  !important;
      margin-left:9px;   
      width:158px;
      border:none;
}
.green{
    background-color: #00FF14 !important;
}
.red{
    background-color: #FF0000 !important;
}
/*-- Buttons --*/

button{
    width: 130px;
    height: 35px;
    line-height: 15px;
    font-family: 'Brandon_regular';
    font-size: 15px;
    text-transform: uppercase;
    background-color: #c0c0c0;
    outline: 0;
}

button:hover{
     background-color: #56c3e4;   
}	

#buttonposition{
    width: 100%;
    height: 40px;
    background-color: transparent;
    padding: 15px 0px;
    text-align: center;
    outline: 0;
}
#buttonposition_right{
    width: 100%;
    height: 40px;
    background-color: transparent;
    padding-top: 15px;
    margin-left: -6px;
    text-align: right;
    outline: 0;
}

.bluebutton{
    color:#fff;
    font-size: 15px;
    background-color: #79C9E0;
    width: 139px;
    height:35px;
    padding:auto;
    cursor: pointer;
}
.right_align_btn{
    float:right;
    position:relative;
    bottom:20px;
}
.input_wide{
    width:448.8px;
    height: 55.9px;
    padding:10px 8px;
    font-size: 18px;
    color:#000;
  
}
.min_height{
    min-height: 38px;
}
.bluebutton_sm{
    color:#ffffff;
    background-color: #7DCDE5;
    width:135px;
    height:28px;
    cursor: pointer;
    font-size: 18px;
}
.bluebutton_wide{
    color:#ffffff;
    background-color: #7DCDE5;
    width:285px;
    height:32px;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
  
}
.bluebutton:hover , .bluebutton_wide:hover  , .bluebutton_sm:hover{   
    background-color: #56c3e4;   
}
.orange_tile{
    background-color: #FF9027 !important;
  }

/*-- USER PAGE TABLE --*/
.luecke{width: 165px;}
.user_table{
    width:800px;
}
td.user_tableft{
	width: 250px;
	background-color: transparent;
	margin:0;padding:0;
	text-align: left;
	padding-bottom: 10px;
	padding-top: 10px;
	}
td.user_tabright{
	width: 525px ;
	background-color: transparent;
	margin:0;
	padding:10px 0px;
	}	
/*-- Override bootstrap props --*/	
.main .container {
    margin-left: -13px !important;
    width: 100%;
}
/*-- Branding page PAGE --*/	
.tile_cont_small{
    width:  382px;
    display:flex;
    height: 193px;
    justify-content: space-between
}
#institution_analyse4 table{
  margin:-12px -12px;
}
.branding_greytxt{
    font-size:18px;
    text-align: center;
    color:#C7C7C7;
}

.tile_cont_small .schnellzugriff1{
    width:174px;
    height:151px;
    padding-top:7px; 
}
.tile_cont_small .schnellzugrifficon {
    height:47px;
    margin-left:-12px;
}
.tile_cont_small .schnellzugrifftext {
    font-size: 13px;
    margin-top:43px;
}
.tile_cont_small .schnellzugriff1 {
    margin-bottom: 0px !important;
    margin-left: 0px !important;
}
.vorschau {
    position: relative;
    top:-4px;
    left:141px;
}

/*-- TABLE IN MANAGE PAGE --*/	
.table_manage{
    background-color: transparent; 
    width: 100%; 
    padding-top: 5px;
}
.table_manage img{
    padding-left: 15px;
}
.period{
    padding: 17px 0px;
}
.period p{
    padding: 4px 20px;
    text-align: center;
}
.status_grey{
   background-image: url('../images/icons/manage/grey.svg');
    background-repeat: no-repeat;
    background-position: center left;

    padding-left: 25px;

}
.status_orange{
   background-image: url('../images/icons/manage/orange.svg');
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 17px;
}
.status_red{
   background-image: url('../images/icons/manage/red.svg');
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 17px;
}
.status_green{
   background-image: url('../images/icons/manage/green.svg');
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 17px;
}
.tab_headings{
    background-color: #BAE1EE;
    padding:10px;
    height: 77px;
    width: 100%;
    text-decoration: none;
    font-family: 'Brandon_medium'; 
    text-align: left;
}

.tab_headings td{
    padding: 10px;
    background-color: #BAE1EE;
    min-width: 120px;
    font-family: 'Brandon_medium'; 
    font-size: 15px;
} 
.table_rows{
    background-color: #fff;
    height: 80px; 
}
.vtop{
    vertical-align: top;
}
.table_rows td {
    width: 100px; 
    padding: 14px;
    border-radius: 0; 
    word-break:break-all;
    word-wrap:break-word; 
    border-bottom: 2px solid #ececec;
    font-size: 15px;
}
/*   INSTITUTION OVERVIEW STYLES*/
.institution_tile{
    width: 174px;
    height: 151px;
    background: #79C9E0;
    text-align: left;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color:#FFF;
    font-family: 'Brandon_medium';
}
.institution_tile_wide{
    width: 1262px;
    height: 151px;
    background: #79C9E0;
    text-align: left;
    padding: 10px 4px 10px 40px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color:#FFF;
    font-family: 'Brandon_medium';
    line-height:24px;
}
.institution_tile .tile_text {
    top:80px;
    line-height: 120%;
}
.institution_tile_wide #date_time{
    font-size:15px;
    padding-top:4px;
    
}
.institution_tile_wide #time_text{
    font-size:35px;
}
.institution_tile_wide .plus{
    margin-top:35px;
}
.institution_tile_wide .small_txt{
    font-size:14px;
    line-height: 15px;
}

.side_tile{
    width: 560px;
    height: 355px;
    padding:10px 5px 15px 16px;
    text-align: left;
    border-radius: 10px;
    color:#FFF;
    font-family: 'Brandon_regular';
    font-size:14px;
}
.blue_bg{
        background-color: #79C9E0;
}
.yellow_bg{
        background-color: #FFCC00;
}
.small_tile .icon{
    padding-top:3px;
    margin-top:14px;
    cursor: pointer;
    height: 40px;
}
.small_tile_font{
    line-height:110%;
    margin-top:8px;
    font-family: 'Brandon_bold';
}


#side_tile_3{
    padding:20px;
}
.side_tile .headtxt{
     font-family: 'Brandon_regular';
     font-size:44px;
     border:none;
     padding:5px 0px;
}
.yellowtxt{
    color:#FFCC00;
}
.side_tile .analyse_text_container p{
   line-height: 18px;
}
.side_tile #time_text{
    font-size:43px;
    padding:5px 0px;
    padding-bottom: 5px;
}
.sm_tile_progress{
    width:85px;
    height:3.3px;
    background-color: #8E8E93;
    margin-top:4.3px;
    margin-left:3px;
}
.white_line{
    border-top:2px solid white;
    margin:10px 0px;
    margin-right: 7px;
}
.side_tile .analyse_small_head{
     font-family: 'Brandon_medium';
      padding-top:10px;
      border-top:3px solid white;
      width:307px;
}
.side_tile #date_time{
    padding-top:20px;
    padding-left:0px;
}
.small_tile{
     width: 90px;
    height: 90px;
    background: #ffcd00;
    text-align: center;
    padding: 3px;
  font-family: 'Brandon_medium';
  font-size: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 5px;
}
.side_long .side_tile{
    height:902px;
}
.side_long .icon{
     padding-top:23px;
    height:67px !important;
}
.font25{
    font-size:25px;
}
.side_long .small_tile{
    width:121px;
    height:105px;
    font-size:10px;
}
.side_long .analyse_text_container{
 padding:21px 0px 0px 0px;
    margin:14px 0px 45px 0px;
}
.grey_tile{
   background: #EAEAEA !important;
   color:#8E8E93;
}
.tile_text{
    font-size: 11px;
     font-family: 'Brandon_medium';
     font-weight: bold;
     position: relative;
     top:85px; 
}
.tile_num{
    font-size: 26px;
    position: relative;
     top:79px;
}
.cyan_txt{
    font-family: 'Brandon_regular';
    color:#79C9E0;
}
.institution_tile .schnellzugrifficon {
    margin-top: 32px !important;
    margin-left:65px !important;
} 
#map_cont{
    padding:0px 10px;
    width:294px;
}
.institution_progress{
     font-size: 16px;
     font-family: 'Brandon_regular';
}
.institution_progress .progress{
    background-color: #79C9E0 ;
    margin-bottom:0px !important; 
}
.institution_progress .progress-bar{
    background-color: #FFCC00 ;
}
.institution_progress .blue_txt{
   color:#79C9E0;
}
.institution_progress .grey_txt{
       color:#C7C7C7;
}
#institution_analyse2 .schnellzugriff_large , #inst_add_expanded .schnellzugriff_large{
    width:1263px;
    height:355px;
    background: #79C9E0 !important;
    font-size: 15px;
    margin-left:13px;
}
#institution_analyse td{
    vertical-align: top;
}
#institution_analyse2 #edit_pen{
    margin-top: 98px;
}
.institution_tile .orange_plus{
    margin-top: 81px;
}
.txt_center{
    text-align: center;
}
#tile_deletion_modal{
       width:266px;
    background: yellow;
    height:400px !important;
    color:#fff;
}
.orange_plus{
     background-image: url("../images/icons/analyse/orange_plus.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 24px;
    background-size: contain;
    position: relative;
    bottom: 7px;
    cursor:pointer;
    height: 28px;
    left: -10px;    
}
.orange_plus_md{
     background-image: url("../images/icons/orang_md.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    bottom: -17px;
    cursor:pointer;
    height: 44px;
    left: 82px; 
    width:50px;
}
.img_margin{
    margin-left: 62px;
}
.top_margin{
    margin-top: 43px;
}
/*-- OVERVIEW PAGE tile STYLES --*/	
.blue_plus{
    background-image: url("../images/tile/expand.svg");
    background-repeat: no-repeat;
    background-position: right top;
    height: 20px;
    background-size: contain;
    cursor:pointer;
    width: 20px;
    float: right;
}
.blue_plus_1{
    background-image: url("../images/tile/plus_blue.svg");
    background-repeat: no-repeat;
    background-position: right top;
    height: 20px;
    background-size: contain;
    cursor:pointer;
    width: 20px;
    float: right;
}
.icon20_right{
      background-repeat: no-repeat;
    background-position: right top;
    height: 20px;
    background-size: contain;
    cursor:pointer;
    width: 20px;
    float: right;
}
.grey_plus{
    background-image: url("../images/tile/plus_grey.svg");
    background-repeat: no-repeat;
    background-position: right top;
    height: 20px;
    background-size: contain;
    width: 20px;
    float: right;
}
.insti_blue_plus{
    background-image: url("../images/tile/expand_blue.svg");
    background-repeat: no-repeat;
    background-position: right top;
    height: 20px;
    background-size: contain;
/*    position: relative;*/
/*    top: -21px;*/
    cursor:pointer;
/*    left: 146px;*/
    width: 20px;
    float: right;
}
.mod_toggle_icon{
    background-repeat: no-repeat;
    background-position: right top;
    height: 15px;
    background-size: contain;
    cursor:pointer;
    width: 15px;
    float: right;
}
#side_tile_expandview .mod_toggle_icon {
    height: 20px;
    width: 20px;
}
.mod_enable{
        background-image: url("../images/tile/plus_yellow.svg");
}
.mod_disable{
        background-image: url("../images/icons/accodian_minus.svg");
}
.edit_white{
    background-image: url("../images/icons/edit_white.svg");
   background-repeat: no-repeat;
    background-position: right top;
    height: 23px;
    background-size: contain;
/*    position: relative;*/
/*    top: -21px;*/
    cursor:pointer;
/*    left: 146px;*/
    width: 23px;
    margin-right: 6px;
    float: right;
}
.mar_right{
    margin-right: 6px;
}
#edit_pen{
    background-image: url("../images/icons/edit_pen.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 20px;
    background-size: contain;
    position: relative;
    top: -385px;
    cursor:pointer;
    left: 0px;
    display:block ; 
    width:21px;
    float:right;
}
.rezize_overlay1{
   background-color: rgba(0, 0, 0, .6);
    width: 100%;
    margin-left:0px;
    height: 100%;
    top: 0;
    left: 0px;
    border-radius:10px;
}
.overlay_institution{
     background-color: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0px;
    border-radius: 10px;
}
#overlay_module{
     background-color: rgba(0, 0, 0, .6);
    width: 98%;
    margin-left: 10px;
    height: 89%;
    margin-top: 18px;
    top: 0;
    left: 0;
    border-radius: 10px;
}
.mod_overlay_content{
       width:264px;
    height:148px;
    background: rgba(255,204,0,1);
    border-radius:7px;
    font-size:15px;
    text-align: left;
    margin:auto;
    text-align: center;color:white;
}
.close_blue{
    background-image: url('../images/icons/close_blue.svg');
}
.mod_overlay_content button{
    width:108px;
    margin-left:7px;
    background-color: #FF9027;
}
.mod_overlay_content .btn_cont{
    margin:2px 15px ;
    display:flex;
}
#large_tile_col .rezize_overlay1{
    width: 100%;
    margin-left:0px;
}
.overlay_margin{
    margin-left:14px;
    width: 99%;
}
.del_confirm_right #delete_box , .del_confirm_left #delete_box button {
    background-color: #79C9E0;
}
.del_confirm_right #delete_box button , .del_confirm_left #delete_box , #inst_add_expanded button{
    background: #FFCC00;
}
#rezize_overlay3{
    background-color: rgba(0, 0, 0, .7);
     width: 1262px;
    height: 95%;
    height:355px;
    top: 23px;
    left: 0;
    border-radius:10px;
    margin-left:17px;
}
.rezize_overlay2{
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius:10px;
    text-align: center;
}
#left_content_drag_handle{
    border-radius:5px;
}
.center_element{
    margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
#delete_box{
    width:363px;
    height:149px;
    background: rgba(255,204,0,1);
    border-radius:7px;
    font-size:22px;
   padding: 3px 3px 2px 15px;
    margin:auto;
    text-align: center;color:white;
}

#delete_box button{
    width:108px;
    height:34px;
    background:#FF9027;
    font-size:11px;
    margin-top:10px;
}
.analyse_box{
	 font-family: 'Brandon_regular';
	 color: #FFFFFF;
	 background-color: transparent;
	 text-align: left;
         padding:0px 20px;
	}
.border_white{
        border-top:3px solid #FFF ;
        margin: 0px 95px 0px 0px;       
}
.analyse_text_container{
    text-align: left;
    padding:0px 0px 16px 0px;
    width:143px;
}
.analyse_text_container .blue_plus{
    left:14px; bottom:-23px;
}
.analyse_small_head{
    font-size: 15px;
      text-align: left;
      font-weight: bold;
      padding-bottom:10px;
      padding-top:15px;
}
.analyse_text_container p{
    font-size: 15px;
    line-height: 15px;
    font-weight: bold;
}
#close{
    background-color: transparent;
    text-align: right;
    position:relative;
    top:4px;
    right:7px;
    cursor: pointer;
    z-index: 1;
}
#analyse_content_2{
    left:16px;
    position:relative;
}
#mod_expanded_view{
    left:16px;
    position:relative;
}
#mod_expanded_view button{
    background-color: #FF9027;
}
#mod_expanded_view #live_status_text{
   font-size:60px;
}
#analyse_content_1 td{
    vertical-align: top;
}
#analyse_options{
    width:266px;
    margin-top:561px;
    margin-left:860px;
    color:#fff;
}
#analyse_options .analyse_small_head{
    padding-top:0PX;
}
#analyse_options .modal-content{
    background-color: #ffcd00;
    border-radius:7px !important;
    width:213px;
    height:149px;
}
.modal-body{
    padding:9px !important;
    margin-top:-11px;
}
#analyse_options a{
    text-decoration: initial;
    cursor:pointer;
    color:#FFF !important;
}

#live_status_text{
	 font-size: 45px;
	 background-color: transparent;
        padding:15px 0px 0px 2px;
        text-align: left;
        width:320px;
	}
.info_status_text{
	 font-size: 40px;
	 background-color: transparent;
        padding:15px 0px 0px 2px;
        text-align: left;
        width:450px;
	}        
        
#date_time{
     text-align:left;
     padding-top: 35px;
     padding-left: 2px;
}

#institution_analyse2 #date_time{
    font-size: 15px;
    padding-top: 5px;
}
#institution_analyse2 #time_text{
     font-size: 44px;
     padding:7px 0;
}

#analyse_content_2 #date_time{
    font-size: 25px;
    font-weight: bold;
    padding-top:18px;
}
#analyse_content_2 #time_text{
     font-size: 60px;
     padding:20px 0;
}
#time_text{
     font-size: 45px;
     padding:11px 0;
}

.height60{
  height:60px;
}	       
.height600{
  height:600px;
}	       
/*-- EXPAND AND NORMAL VIEW --*/
#large_tile_col .blue_plus{
    margin-right:0px;
    margin-top:-7px;
}
/*-- TILES --*/
     
.schnellzugriff1{
    width: 174px;
    height: 152px;
    background-color: #ffcd00;
    text-align: center;
    padding: 8px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}   
.grey_tile{
   background: #EAEAEA !important;
   color:#8E8E93;
}
.grey_tile .schnellzugrifftext{
    color: #8E8E93;
}	
#analyse_content_2 .schnellzugriff_large{
    width:1840px;
    height:342px;
    margin-bottom: 0px;
    margin-right: 0px;
    position:relative;
}
#mod_expanded_view .schnellzugriff_large{
    width:1840px;
    height:342px;
}
.height70{
    min-height:70px;
}

.schnellzugriff_large{
    width: 561px;
    height: 342px;
    background: #FFCC00;
    padding-top: 15px;
    margin-bottom: 22px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.schnellzugriff1 #live_status_text{
    font-size:23px;
    width:160px;
}
#analyse_content_2 #live_status_text{
    font-size: 60px;
    width:685px;
}
.schnellzugriff1 select , .schnellzugriff1 .analyse_text_container ,.schnellzugriff1 #date_time {
    display:none;
}
.schnellzugriff_large .schnellzugrifficon img{
    margin:100px;
    height:155px;
    margin-left:290px;
}
.schnellzugriff_large .schnellzugrifftext{
    margin-top:200px;
    margin-left:290px;
        
}
.schnellzugrifficon{
    height:82px;
    padding:5px 2px;  
}
#module_tile_container .schnellzugrifficon{
     margin-left: -12px;
}
.schnellzugrifficon img{
    
    margin-left: 18px;
}
.module_tile .schnellzugrifficon img{
    
    margin-left: 28px;
}

.schnellzugrifflink{
    width: 208px;
    height: 218px;
}
.schnellzugrifflink:hover{
    text-decoration: none;
}
.display_large .schnellzugrifftext{
    font-size: 30px;
}
.schnellzugrifftext{
	color: #FFFFFF;
	font-family: 'Brandon_medium';
	font-size: 15px;
        padding-top: 20px;
        line-height: 100%;
}
        
        
/*-- display none --*/
.no-display{
    display:none !important;
}
 
/*-- DRAG AND DROP --*/
.ui-state-hover {
background:lightgoldenrodyellow;   
}
.ui-state-active {
background:#8E8E93  ; 
}
/*-- FLOAT PROPS --*/
.right{
    float: right;
}
.left{
    float:left;
}
.grey {
    color: #898989 !important;
    cursor: default;
}
/*-- Margins --*/
.inputabstand{
    margin-left: 21px;
}
.bis{
    padding:0px 42px;
}
/*-- Adding width --*/
.width120{
    width:120px;
}
.width600{
    width: 592px;
}
.width675{
    width: 704px;
    padding-left: 1px;
    padding-right: 1px;
}
.width150{
    width:150px !important;
}
.width400{
    width:417px;
}
.width250{
    width:240px;
}
.width500{
    width:500px;
}
.width100{
    width:70px;
}
/*-- DATEPICKER --*/

/* Datepicker */
.ui-datepicker-calendar thead { background-color: inherit; }

.ui-datepicker tr span{
    font-size: 13px;
    padding: .7em .3em;
    text-align: center;
    font-weight: bold;
    border: 0;

}

.ui-datepicker.ui-widget-content {
    border: 1px solid #dddddd;
    background:#f0f0f0;
    color: #333333;
}

.ui-datepicker .ui-state-active{
    background: #d0d0cf none repeat scroll 0 0;
    border: 0 none;
    font-weight: normal;
    color: black;
}

.ui-datepicker {
    width: 17em;
    padding: .2em .2em 0;
    display: none;
}
.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 2px;
    width: 1.8em;
    height: 1.8em;
    display: none;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
    top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
    left: 2px;
}
.ui-datepicker .ui-datepicker-next {
    right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover {
    left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
    right: 1px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
    display: none;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
    margin: 0;
    line-height: 1.8em;
    text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
    font-size: 1em;
    margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
    width: 30%;        
}
.ui-datepicker select.ui-datepicker-month { float: left; margin-left:9px;}
.ui-datepicker select.ui-datepicker-year { float: right;margin-right:9px; }
.ui-datepicker table {
    width: 100%;
    font-size: .9em;
    border-collapse: collapse;
    margin: 0 0 .4em;
}
.ui-datepicker th {
    padding: .7em .3em;
    text-align: center;
    font-weight: bold;
    border: 0;
}
.ui-datepicker td {
    border: 0;
    padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
    display: block;
    padding: .2em;
    text-align: center;
    text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
    background-image: none;
    margin: .7em 0 0 0;
    padding: 0 .2em;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
    float: right;
    margin: .5em .2em .4em;
    cursor: pointer;
    padding: .2em .6em .3em .6em;
    width: auto;
    overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    float: left;
}

/*-- CROPPIE IMAGE PREVIEW AND REZIZE --*/
.croppie-container{
    width:49% !important;
}
.cr-viewport{
    border:4px solid #79C9E0  !important;
}



/* --- LINKS A --- */

a {
    text-decoration: none;
    font-family: 'Brandon_regular';
    font-weight: normal;
    font-style: normal;
    color: #000;
}

/*-- INPUT FELDER --*/
.input_wide{
    width:285px;
    height: 32px;
    padding:5px 4px;
    font-size: 15px;
    color:#000;
  
}

input{
    width: 278px;
    border: 1px solid #a6a6a6;
    display:inline-block;	
    line-height: 15px;
    height: 32px;
    padding-left: 10px;   
    padding-right: 10px;   
    font-family: 'Brandon_regular';
    font-size: 15px;
    line-height: normal;
    vertical-align:middle;
    white-space:normal;
}

input:focus
{
    outline:0;
}  

input:disabled {
    background: #efefef !important;
    color: #2f2f2f;
}
/*-- TEXTAREA AREA --*/    

textarea{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 280px;
    border: 1px solid #a6a6a6;
    line-height: 15px;
    padding: 10px;
    font-family: 'Brandon_regular';
    font-size: 15px !important;
    line-height: normal;
}

/*-- SELECT AREA --*/  

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 300px;
    border: 1px solid #a6a6a6;
    line-height: 15px;
    height: 32px;
    padding-left: 10px;
    font-family: 'Brandon_regular';
    font-size: 15px;
    line-height: normal;
    background-color: white;
    box-shadow: none;
    border-radius: none;
    margin:0;
    display:inline-block;
    vertical-align:middle;
    white-space:normal;
    background-image: url('../images/select_bg.png');
    background-size:20px;
    background-position: right;
    background-repeat: no-repeat;
    border-radius: 0 !important;
}

select:focus{
    outline:0;
}	 


/* Auto complete*/
ul.ui-autocomplete { 
    z-index: 9999; 
    height: 270px;
    width: 590px; 
    overflow-y: auto;
    overflow-x: auto;
    background-color: #F3F3F3;
    margin: 0.8em 0 0.2em;
    padding: 0.2em 0.4em;
    font-family: Brandonregular;
    font-size: 15px;
    color : black !important;

}

/* -- PLACEHOLDER --*/ 

::-webkit-input-placeholder {
    font-family: 'Brandon_regular';
    font-size: 15px;
    color: #818181;
}

:-moz-placeholder { /* Firefox 18- */
    color: #5b5b5b;  
    font-family: 'Brandon_regular';
    font-size: 15px;
    padding-left: 10px;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #5b5b5b; 
    font-family: 'Brandon_regular';
    font-size: 15px; 
}

:-ms-input-placeholder {  
    color: #818181;  
    font-family: 'Brandon_regular';
    font-size: 15px;
}

select option{
    padding-left: 10px;
}


/*--- RADIO BUTTONS ---*/

.radiobutton{float: left;}


input[type='radio']{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border:none;
    border-radius: 0;
    width: 100%
} 


/* graceful degradation for ie8 */
input[type='radio'] {
    width:auto;
    float:left;
    margin-right: 0px;
    background:transparent;
    border:none;
    margin-left: 0;
}

input[type='radio']:checked,
input[type='radio']:not(:checked) {
    background: transparent;
    position: relative;
    visibility: hidden;
    margin:0;
    padding:0;
}

input[type='radio'] + label {
    
}

input[type='radio']:checked + label::before,
input[type='radio']:not(:checked) + label::before {
    content:' ';
    display:inline-block;
    width: 17px;
    height:17px;
    position: relative;
    top:4px;
    border: 1px solid #a6a6a6;
    background: white;
    margin-right: 10px;
    box-shadow: inset 0 1px 1px 0 rgba(0,0,0,.1);
}

input[type=radio]:checked + label::before,
input[type=radio]:not(:checked) + label::before {
    border-radius: 30px;
}

input[type='radio']:hover  + label::before {
    background:#ddd;
    box-shadow: inset 0 0 0 2px white;
}

input[type='radio']:checked  + label::before {
    background: #929292;
    box-shadow: inset 0 0 0 2px white;
}	

.radiobutton input{
    display: none;
    display: block;
}

.radiobutton{
    margin-right: 20px;
}


.erkrankungClass{
  height :67.06px;
  width :67.06px;
  margin-top:22px;
}

.medikamentClass{
  width :58.6px;
  height :67.06px;
  margin-top:22px;
}

.analyseClass{
  width :71.35px;
  height:67.06px;
  margin-top:20px;
}

.videosprechstundeClass{
  width :91.27px;
  height:98.12px;
  margin-top:-5px;
}
.tagebuchClass{
  width :88.4px;
  height:47.17px;
  margin-top:28px;
}

.kalendarClass{
  width :59.45px;
  height:65.53px;
  margin-top:25px;
}
.krankanakteClass{
  width:49.1px;
  height :77.01px;
  margin-top:15px;
}

.pic-color-btn {
        margin-right: 55px;
}
.cancel_pickr {
    font-weight: bolder;
    text-shadow: 1px 0px;
    background-color: #ffcc00; 
    border-radius: 50%; 
}

/* .tooltip {
    position: fixed;
    display: inline-block;
    border-bottom: 1px dotted black;
    left:88%;
    top:18%;
    z-index: 99;
}*/

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
   
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/*-- ONLY FF --*/

@media all and (min--moz-device-pixel-ratio:0) and (min-resolution: 3e1dpcm) {

    select {
        padding-left: 5px;
    }

}

/*-- ONLY SAFARI --*

/* Safari 6.1+ (9.0 is the latest version of Safari at this time) */

@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) 
{ 
     

  }	

@media screen and (-webkit-min-device-pixel-ratio:0)
{
   

}




/*-- ONLY IE8 --*/

@media \0screen {

    body{
        font-family: Verdana;
        font-size:13px;
    }	

    .column3{font-family: Verdana;
             font-size:13px;}	

    .radiobutton{
        margin-left: -10px;
    }	

    select{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 300px;
        border: 1px solid #909090;
        line-height: 15px;
        height: 32px;
        padding-left: 10px;
        font-family: 'Brandon_regular';
        font-size: 15px;
        line-height: normal;
        background-color: white;
        box-shadow: none;
        border-radius: none;
        margin:0;
        display:inline-block;
        vertical-align:middle;
        white-space:normal;
        border-radius: 0 !important;
        background-image: none;
    }
}

/*-- IE 9 UND HÖHER --*/

@media screen and (min-width:0\0) {

    .radiobutton{
        margin-left: -13px;
    }		

    select{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 300px;
        border: 1px solid #909090;
        line-height: 15px;
        height: 32px;
        padding-left: 10px;
        font-family: 'Brandon_regular';
        font-size: 15px;
        line-height: normal;
        background-color: white;
        box-shadow: none;
        border-radius: none;
        margin:0;
        display:inline-block;
        vertical-align:middle;
        white-space:normal;
        border-radius: 0 !important;
        background-image: none;
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .radiobutton{
        margin-left: 0px;
    }		
}

_:-ms-input-placeholder, :root .selector { 
    .radiobutton{
        margin-left: -13px;
    }		
}
